%h1= t('.title')

%table.data.box
  %thead
    %tr
      %th{:style => "width:10%"}= ProposalObject.human_attribute_name :barclamp
      %th.status{:style => "width:10%"}= ProposalObject.human_attribute_name :status
      %th{:style => "width:80%"}= ProposalObject.human_attribute_name :description

  %tbody
    - @modules.each do |name, barclamp|
      %tr{:class => cycle(:odd, :even, :name => "barclamps")}
        %td
          - if barclamp[:proposals].length > 0
            %a.toggle.with_label{:href => "#", :id => "details_#{name.parameterize}_toggle", :rel => "details_#{name.parameterize}"}
              = name
          - else
            %span.toggle.with_label.disabled= name
        %td
          - barclamp[:proposals].each do |proposal_name, proposal|
            .led{:class => proposal[:status], :style => "float:left"}
        %td= barclamp[:description]
      - if barclamp[:proposals].length > 0
        %tr{:class => current_cycle("barclamps"), :style => "display:none", :id => "details_#{name.parameterize}"}
          %td.container{:colspan => "3"}
            .box
              %table.data
                %tbody
                  - barclamp[:proposals].each do |proposal_name, proposal|
                    %tr
                      %td{:style => "width:10%"}= proposal_name
                      %td.status
                        .led{:class => proposal[:status]}
                      %td= proposal[:description]
        

:javascript
  function update() {
    return false;
  }
